<div class="synopsis">
    {{summary}}

    <h2>Key articles</h2>
    {{#each articles}}
    <div class="article">
        <div class="desc">
            <a href="#">{{this.title}}</a>
        </div>
    </div>
{{/each}}
</div>
<div class="articles">
    <div class="feature-article">
        {{#if thumbnail}}
            <div class="thumb">
                <img src="{{thumbnail}}" />
            </div>
        {{/if}}
        <h2>{{first.title}}</h2>
        <div class="desc">
            {{first.description}}
        </div>
    </div>
</div>