<div class="storyline">
    {{#each years}}
        <div class="year-group">
            <div class="year">{{@key}}</div>
            {{#each this}}
                <div class="story">
                    <a href="#" data-id="{{this.uri}}">
                        <div class="date">
                            <span class="day">{{day this.startDate}}</span>
                            <span class="month">{{month this.startDate}}</span>
                        </div>
                        <div class="title">
                            {{this.title}}
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>
    {{else}}
        {{#each events}}
            <div class="story">
                <a href="#" data-id="{{this.uri}}">
                    <div class="date">
                        <span class="day">{{day this.startDate}}</span>
                        <span class="month">{{month this.startDate}}</span>
                    </div>
                    <div class="title">
                        {{this.title}}
                    </div>
                </a>
            </div>
        {{/each}}
    {{/each}}
</div>