<div class="story-article article">
    <h2>{{preferredLabel}}</h2>
    <p class="date">{{date eventStartDate}}</p>

    {{#if thumbnail}}
        <div class="main-thumb">
            <img src="{{thumbnail}}" alt="{{ preferredLabel }}" />
        </div>
    {{/if}}
    <div class="article-content">
        <p>{{synopsis}}</p>
    </div>
    <div class="related">
    	{{#if newsItems}}
    		<h2>Key articles</h2>
    		{{#each newsItems}}
    			<a href="{{ id }}">{{ title }}</a>
    		{{/each}}
    	{{/if}}
    </div>
</div>