<div class="storyline">
    {{#each years}}
        <div class="year">
            {{@key}}
            {{#each this}}
                <div class="story">
                    <a href="#" data-id="{{this.uri}}">
                        <div class="date">
                            {{this.startDate}}
                        </div>
                        <div class="content">
                            {{this.title}}
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>
    {{else}}
        {{#each events}}
            <div class="story">
                <a href="#" data-id="{{this.uri}}">
                    <div class="date">
                        {{this.startDate}}
                    </div>
                    <div class="content">
                        {{this.title}}
                    </div>
                </a>
            </div>
        {{/each}}
    {{/each}}
</div>