<div class="storyline">
    {{#each years}}
        <div class="year-group">
            <div class="year">{{@key}}</div>
            {{#each this}}
                <div class="story" data-id="{{this.id}}">
                    <a href="#">
                        <div class="date">
                            <span class="day">{{day this.eventStartDate}}</span>
                            <span class="month">{{month this.eventStartDate}}</span>
                        </div>
                        <div class="title">
                            <a href="#">{{this.preferredLabel}}</a>
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>
    {{else}}
        {{#each items}}
            <div class="story" data-id="{{this.id}}">
                <a href="#">
                    <div class="date">
                        <span class="day">{{day this.eventStartDate}}</span>
                        <span class="month">{{month this.eventStartDate}}</span>
                    </div>
                    <div class="title">
                        <a href="#">{{this.preferredLabel}}</a>
                    </div>
                </a>
            </div>
        {{/each}}
    {{/each}}
</div>
