<script style="text/javascript">
  $(document).ready(function () {
      $('a.open-widget').click(function (evt) {
          var widget = $("#hidden-widget");
          widget.show();
          widget.css({
              position:"absolute",
              top: evt.pageY,
              left: evt.pageX
          });
          evt.preventDefaults();
      });
      $("#hidden-widget").hide();
    });
</script>

<h2 class="comp-stream__title"><span>Latest updates</span> <strong>Vote 2014</strong></h2>
<h3 class="comp-stream__date"><span>02.05.2014</span></h3>

<div class="row">
    <h6 class="col-md-1">09:03</h6>
    <figure class="col-md-3">
        <a data-toggle="modal" data-target=".bs-example-modal-lg" href="#/news/uk-politics-27247910">
            <img src="http://ichef.bbci.co.uk/news/235/media/images/74588000/jpg/_74588344_74588343.jpg" class="js-image-replace">
        </a>
    </figure>
    <div class="col-md-8">
        <h4><a data-toggle="modal" data-target=".bs-example-modal-lg" href="#/news/uk-politics-27247910" class="right-arrow">Cameron 'will make sure EU referendum takes place'</a></h4>
        <div class="update__body">
            David Cameron will promise to "make sure" UK voters get a referendum on whether to leave the European Union.
        </div>
        <a href="#" class="open-widget"><img src="/img/storyline_logo_inline.png" />&nbsp;{{ title }} </a>
    </div>
</div>

<hr />

<div class="row">
    <h6 class="col-md-1">09:03</h6>
    <figure class="col-md-3">
        <a data-toggle="modal" data-target=".bs-example-modal-lg" href="#/news/uk-politics-27247910">
            <img src="http://ichef.bbci.co.uk/news/235/media/images/74586000/jpg/_74586154_mcguinnessgiveshisreactiontoadamsarrest09(2).jpg" class="js-image-replace">
        </a>
    </figure>
    <div class="col-md-8">
        <h4><a data-toggle="modal" data-target=".bs-example-modal-lg" href="#/news/uk-northern-ireland-27244878" class="right-arrow">Gerry Adams arrest: Sinn Féin claims 'dark side' to NI police</a></h4>
        <div class="update__body">
           Sinn Fein's Martin McGuinness claims Gerry Adams' arrest is due to a "dark side" within policing and is a "deliberate attempt to influence the outcome of elections" later this month.
        </div>
        <a href="#" class="open-widget"><img src="/img/storyline_logo_inline.png" />&nbsp;{{ title }}</a>
    </div>
</div>

<hr />

<div class="row">
    <h6 class="col-md-1">09:03</h6>
    <figure class="col-md-3">
        <a data-toggle="modal" data-target=".bs-example-modal-lg" href="#/news/uk-politics-27247910">
            <img src="http://ichef.bbci.co.uk/news/235/media/images/74577000/jpg/_74577330_74577329.jpg" class="js-image-replace">
        </a>
    </figure>
    <div class="col-md-8">
        <h4><a data-toggle="modal" data-target=".bs-example-modal-lg" href="#/news/uk-politics-27225421" class="right-arrow">Annual rent-increase cap is focus of Labour campaign launch</a></h4>
        <div class="update__body">
           Labour would limit annual rent increases in the private sector to give a "fairer deal" to tenants, leader Ed Miliband says.
        </div>
        <a href="#" class="open-widget"><img src="/img/storyline_logo_inline.png" />&nbsp;{{ title }}</a>
    </div>
</div>

<hr />

<div class="row">
    <h6 class="col-md-1">09:03</h6>
    <figure class="col-md-3">
        <a data-toggle="modal" data-target=".bs-example-modal-lg" href="#/news/uk-politics-27247910">
            <img src="http://ichef.bbci.co.uk/news/235/media/images/74572000/jpg/_74572058_mercerquits.jpg" class="js-image-replace">
        </a>
    </figure>
    <div class="col-md-8">
        <h4><a data-toggle="modal" data-target=".bs-example-modal-lg" href="#/news/uk-politics-27237419" class="right-arrow">Patrick Mercer 'deliberately evaded' MPs' rules, watchdog finds</a></h4>
        <div class="update__body">
           Patrick Mercer committed the "second worst" breach of transparency rules for MPs since 1947, the Commons standards committee says.
        </div>
        <a href="#" class="open-widget"><img src="/img/storyline_logo_inline.png" />&nbsp;{{ title }}</a>
    </div>
</div>

<hr />

<div class="row">
    <h6 class="col-md-1">09:03</h6>
    <figure class="col-md-3">
        <a data-toggle="modal" data-target=".bs-example-modal-lg" href="#/news/uk-politics-27247910">
            <img src="http://ichef.bbci.co.uk/news/235/media/images/74569000/jpg/_74569295_lepenmarchbbc.jpg" class="js-image-replace">
        </a>
    </figure>
    <div class="col-md-8">
        <h4><a data-toggle="modal" data-target=".bs-example-modal-lg" href="#/news/blogs-eu-27240756" class="right-arrow">National Front in patriotic fervour</a></h4>
        <div class="update__body">
           PMarine Le Pen pokes fun at France's biggest parties as the National Front wraps itself in the tricolour.
        </div>
        <a href="#" class="open-widget"><img src="/img/storyline_logo_inline.png" />&nbsp;{{ title }}</a>
    </div>
</div>

<hr />

<div class="row">
    <h6 class="col-md-1">09:03</h6>
    <figure class="col-md-3">
        <a data-toggle="modal" data-target=".bs-example-modal-lg" href="#/news/uk-politics-27247910">
            <img src="http://ichef.bbci.co.uk/news/235/media/images/74588000/jpg/_74588305_74582378.jpg" class="js-image-replace">
        </a>
    </figure>
    <div class="col-md-8">
        <h4><a data-toggle="modal" data-target=".bs-example-modal-lg" href="#/news/uk-politics-27242561" class="right-arrow">English Democrats back 'too many gay MPs' comments candidate</a></h4>
        <div class="update__body">
           The English Democrats back a European election candidate who said there were "far too many" gay people in Parliament.
        </div>
        <a href="#" class="open-widget"><img src="/img/storyline_logo_inline.png" />&nbsp;{{ title }}</a>
    </div>
</div>

<div id="hidden-widget" class="stream-modal">
    {{> widget }}
</div>